{#
/**
 * @file league_lineup.html.twig
 * Default theme implementation to present League lineup data.
 *
 * This template is used when viewing League lineup pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_league_lineup()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('league_lineup') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
