{#
/**
 * @file league_game.html.twig
 * Default theme implementation to present League game data.
 *
 * This template is used when viewing League game pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_league_game()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('league_game') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
